@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$font-helvetica: "Helvetica Neue",Helvetica,Arial,sans-serif;
$font-open-sans: "Open Sans", sans-serif; 
$bgcolor: #fff;
$breakpoint-small: 320px;
$breakpoint-large: 1200px;

html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

body { 
	margin: 0; 
	background-color: $bgcolor; 
	font-family: $font-open-sans;
	-webkit-font-smoothing: antialiased;
}

p {
	float:left;
	font-size: 12px;
	line-height:normal;
}

.container {
	width:100%;
	@media (min-width: $breakpoint-large) {	
		width: 672.72px;
		margin: 5% auto;
	}

	.accordion-tabs {
		padding: 0;
		text-align: center;
		&::after {
			border:none;	
		}
		@media (min-width: $breakpoint-small) {
			margin:0 auto;
		}
		@media (min-width: $breakpoint-large) {
		}
		&::after {
			clear: both;
			content: "";
			display: table;
		}
		.tab-header {
			list-style: none;
			margin: 0 -2px;
			@media (min-width: $breakpoint-small) {
				display: inline;
			}
			.tab-content {
				display: none;
				width: 100%;
				@media (min-width: $breakpoint-small) {
					float: left;
					padding: 10px; 
				}
				@media (min-width: $breakpoint-large) {
					padding: 1.5em 1.618em;
				}
				&.is-open {
					border-bottom: 1px solid black;
					@media (min-width: $breakpoint-large) {
						border:none;
					}
				}
				ol {
					margin:0 auto 20px;
					@media (min-width: $breakpoint-large) {
						margin:20px auto;
					}
				}
				ol, li {
					list-style: none;
					padding: 0;
					width: 100%;		
					float: left;
				}
					li {
						ul {
							padding:0;
						}
						ul > li {
							width:33.33%;
							text-align:center;
						}
						ul > li h2 {
							margin: 0;
							font-weight: normal;
							font-size: 35px;
							line-height: 35px;
						}
						ul > li span {
							font-size:14px;
						}
					}
				hr {
					margin: 10px auto;
					display: block;
					height: 1px;
					background: black;
					border: 0;
					clear: both;
					@media (min-width: $breakpoint-small) {
						width: 10%;
					}
					@media (min-width: $breakpoint-large) {
						width: 7%;

					}
				}
			}
		}
		.tab-title {
			font-family: $font-helvetica;
			color: #333;
			display: block;
			font-size: 12px;
			text-transform: uppercase;
			font-weight: bold;
			text-decoration: none;
			width:100%;
			letter-spacing: 1px;
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			-webkit-transform: translateZ(0);
			transform: translateZ(0);
			-webkit-transition: all 0.2s;
			transition: all 0.2s;
			line-height: 18px;
			background: white;
			@media (min-width: $breakpoint-small) {
				padding: 15px 0 15px 20px;
				text-align: left;
				border-bottom:1px solid black;
				display: inline-block;
			}
			@media (min-width: $breakpoint-large) {
				display: inline-block;
				padding: 5px 0;
				width: 182px;
				text-align: center;
				border: 1px solid black;	
				&::before, &::after { 
					display:none;
				}
			}
			&:hover {
				color: black;
			}
			&:focus {
				outline: none;
			}
			&::before, &::after {
				content: '';
				position: absolute;
				right: 1.5em;
				top: 1.25em;
				width: 1px;
				height: 1em;
				background-color: #000000;
				-webkit-transition: all 0.2s;
				transition: all 0.2s;
			}
			&::after {
				-webkit-transform: rotate(90deg);
				transform: rotate(90deg);
			}
			&:not(.is-active) {
				margin: 0 -1px;
			}
			&.is-active {
				@media (min-width: $breakpoint-small) {
					border-bottom:none;
					background-color:white;
					color:black;
				}
				@media (min-width: $breakpoint-large) {
					border: 1px solid black;
					background: black;
					color: white;
				}
				&::before {
					-webkit-transform: rotate(90deg) !important;
					transform: rotate(90deg) !important;
				}
			}
		}
	}
}